
    body {
        margin: auto;
        background-image: url("../images/brickwall/brickwall_@2X.png");
        background-color:lightgray;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        text-align: left;
     }

     nav{
         margin-bottom: 15px;
     }

     
 nav a{
    color: white;
} 


   img {
    vertical-align: middle;
    border-style: none;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    height:auto;
   }

hr {
    max-width: 918px;
    background-color:#1D2F3E;
    font-style: oblique;
    height: 1px;
    position:relative;
    width:100%;

}
 

 #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  

.container {
    box-sizing: border-box;
    background-color:#C9E1C1;
    border: solid 1px #666666;
    margin: auto;
    padding-bottom: 1.5em; 
    margin-top:6em;
} 

p {
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1D2F3E;
    padding-top: 1em;
    line-height: 25px;
 }

 textarea {
    background:#eeee;
    
    font-size: 20px;
    
    list-style-type: none;
    width: 799px;
    
} 

  

footer {
    background-color:#1D2F3E;
    border-top:5px #4aaaa5 solid ;
    margin-top: 165px;
    position:inherit;
}

#contact-info li {
    list-style-type: none;
    color: #777777;
    margin-bottom: 8px;
}

.footer-wrapper {
    position: relative;
    padding-top: 20px;
}

 form {
    display: block;
    margin-top: 0em;
} 
.text-profile-image p {
        margin: auto;
        padding-top: 8em;
        background-color: #152737;
        padding-left: 82px;
        padding-right: 75.6px;
        width: 42px;
        color:#0FB493;
      
}

.bg-light {
    background-color: #1D2F3E;
}

.work {
        position: relative;
        float: inherit;
        width: 274px;
        margin: -7px 85px 25px 44px;
        overflow: auto;
        /* padding-left: inherit; */
        /* padding: 1em; */
        /* padding-top: 1em; */
        /* padding-right: 1em; */
        /* padding-bottom: 0em; */
        padding-left: -12em;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    padding-right: 0;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 12px;
    margin-bottom: -4px;
    font-weight: 300;
    line-height: 18px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
footer p{
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-top: 1em;
    position: left;
    line-height: 25px;
    padding-left: 43em;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}